<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src ="https://www.justicaeleitoral.jus.br/spe/assets/img/urna-2011-13.png" ></ion-img>
    <ion-card-header>
      <ion-card-title>Eleições 2022</ion-card-title>
      <ion-card-subtitle>Justiça Eleitoral</ion-card-subtitle>      
    </ion-card-header>
    <ion-card-content>
      As eleições gerais no Brasil em 2022 estão agendadas para o dia 2 de outubro, em primeiro turno, e 30 de outubro em segundo turno, onde houver. 
      Nesses dias, serão eleitos o presidente, o vice-presidente e o Congresso Nacional. 
    </ion-card-content>
  </ion-card>

</ion-content>